<section class="4xl:container relative mt-10">
    <div class="relative top-20 2xl:top-24 h-96 sm:h-128 xl:h-196 bg-cover bg-no-repeat bg-center p-8 lg:p-14 text-white text-right" style="background-image: url({{ section.settings.image1 | image_url: width: auto }});">
        <span class="text-base lg:text-lg xl:text-22 font-bold">{{ section.settings.text }}</span>
    </div>
    <div class="sm:flex bg-cover bg-page-blue py-12 md:pt-24 lg:pt-36 sm:pb-12 xl:pb-18">
        <div class="w-full pl-6 sm:pl-12 md:pl-24 xl:pl-48 3xl:pl-77 mt-8 lg:mt-4">
            <h1 class="text-5xl lg:text-7xl xl:text-20 mb-4 leading-none font-bold text-white" >{{ section.settings.title }}</h1>
        </div>
        <div class="sm:w-full flex flex-col justify-end text-orange">
            <a href="{{ section.settings.link }}" class="text-xl md:text-2xl lg:text-3xl xl:text-32 font-bold font-aeonik w-fit pl-6 sm:pl-8 mt-12">
                {{ section.settings.label }}
                <div class="w-full h-3 border-b-4 border-orange"></div>
            </a>
        </div>
    </div>
    <div class="h-96 sm:h-128 xl:h-160 bg-cover bg-no-repeat bg-center" style="background-image: url({{ section.settings.image2 | image_url: width: auto }});"></div>
</section>
{% schema %}
{
  "name": {
    "en": "CTA with banner",
    "es": "Llamado a la accion con imagen"
  },
  "class": "index-section index-section--flush",
  "settings": [
        {
            "type": "richtext",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Text in top background"
        },
        {
            "type": "text",
            "id": "label",
            "label": "Button label"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link"
        },
        {
            "type": "image_picker",
            "id": "image1",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "image2",
            "label": "Image"
        }
  ]
}
{% endschema %}
