{% if section.settings.message %}
  <style>
    {% if section.settings.logo != blank %}
      {% comment %} .site-header__logo-image {
        max-width: {{ section.settings.logo_max_width | escape }}px;
      } {% endcomment %}
    {% endif %}

  </style>
{% endif %}

{% include 'search-drawer' %}


<div class="bg-white lg:bg-transparent lg:absolute top-0 left-0 w-full" data-section-id="{{ section.id }}" data-section-type="header-section" data-header-section>
  <header>
      <div class="relative 4xl:container">
          <div class="">
              <div class="relative">
              {% if section.settings.message %}
                  {% if section.settings.home_page_only == false or request.page_type == 'index' %}
                  <style>
                      .notice-bar {
                      background-color: {{ section.settings.color_bg }};
                      }

                      .notice-bar--link:hover {
                      {% assign brightness = section.settings.color_bg | color_brightness %}

                      {% if brightness <= 192 %}
                          {% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
                          background-color: {{ section.settings.color_bg | color_lighten: lightenAmount }};
                      {% else %}
                          {% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
                          background-color: {{ section.settings.color_bg | color_darken: darkenAmount }};
                      {% endif %}
                      }

                      .notice-bar__message {
                          color: {{ section.settings.color_text }};
                      }
                  </style>

                  <div class="text-xs announcement-text font-sofiapro">                    
                      {% if section.settings.message_link == blank %}
                          <div class="bg-full bg-right-top bg-orange-6 bg-no-repeat ml-auto text-center p-[0.875rem] 2xl:py-4.5 text-[0.56rem] xs:text-xs text-blue tracking-[0.2em] font-bold overflow-x-auto no-scroll-bar">
                      {% else %}
                          <a href="{{ section.settings.message_link }}" class="bg-full bg-right-top bg-orange-6 bg-no-repeat ml-auto text-center p-[0.875rem] 2xl:py-4.5 text-[0.56rem] xs:text-xs text-blue tracking-[0.2em] font-bold notice-bar notice-bar--link overflow-x-auto no-scroll-bar">
                      {% endif %}

                          <span class="notice-bar__message block w-max mx-auto">{{ section.settings.message_text | escape }}</span>

                      {% if section.settings.message_link == blank %}
                          </div>
                      {% else %}
                          </a>
                      {% endif %}
                  </div>
                  {% endif %}
              {% endif %}
                  <div x-data="{ open : false }" x-bind:class="open ? 'bg-blue open' : 'delay-1000'" class="navbar grid grid-cols-3 items-center lg:items-start justify-between w-full px-10 md:px-20 pt-4 pb-4 md:pt-8 md:pb-7 transition-colors duration-500">
                      <div class="flex items-center gap-4 lg:gap-8 xl:gap-10 2xl:gap-16 font-sofiapro transition-all duration-500 lg:pt-9" x-bind:class="open ? 'lg:pt-4.5' : 'lg:pt-9 delay-1000'">
                        <span class="bg-menu-header bg-menu basis-6 w-6 xs:basis-8 xs:w-8 shrink-0 relative z-30 xs:h-4 cursor-pointer" aria-controls="MobileNavMenu"  aria-expanded="false" aria-label="{{ 'layout.navigation.menu' | t }}"><span></span></span>
                        {% comment %} <button type="button" class="site-header__icon site-header__icon-search site-header__search-toggle js-drawer-open-top w-4 h-4 xs:w-6 xs:h-6 p-0 justify-center items-center hidden sm:flex text-white mb-1">
                            {% include 'icon-search' %}
                            <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
                        </button> {% endcomment %}
                        <ul class="lg:gap-8 xl:gap-10 2xl:gap-16 hidden lg:flex tex-lg 2xl:text-xl 3xl:text-2xl">
                            {% for link in linklists[section.settings.right_linklist].links %}
                              {% if link.links.size > 0 %}
                                <li class=" ">
                                  <button type="button" @click="open = !open" {% if link.current %} aria-current="page" {% endif %} class="flex items-center gap-2 w-max font-medium hover:font-semibold text-white"> 
                                    <span class="uppercase"> {{ link.title | escape }} </span>
                                    <span class="navbar__icon-open" x-bind:class="open ? 'open' : ''">{% render 'icon-arrow-nav' %}</span>
                                  </button>
                                  <div x-bind:class="`${ open ? 'max-h-screen delay-500' : 'max-h-0' }`" class="navbar-open absolute ease-out transition-spacing duration-1000 mt-10 right-0 bg-light-brown w-full pl-10 xs:pl-12 lg:pl-20 xl:pl-21 2xl:pl-24 overflow-hidden">
                                    {% assign activeLink = "" %}
                                    {% for chLink in link.links %}
                                      {% if chLink.url contains '/collections/' and activeLink == "" %}
                                        {% assign activeLink = chLink.handle %}
                                      {% endif %}
                                    {% endfor %}
                                    <div x-cloak x-data="{ openItem : '{{ activeLink }}' }" class="4xl:container px-10 md:px-20 text-blue grid grid-cols-nav-tablet xl:grid-cols-nav justify-between">
                                      <ul class="relative h-full">
                                        {% for chLink in link.links %}
                                          <li class="">
                                            {% if chLink.url contains '/collections/' %}
                                              <a href="{{ chLink.url }}" {% if chLink.current %} aria-current="page" {% endif %} class="navbar-link navbar-link-collection relative w-max p-3 2xl:p-5 -left-6 hover:bg-blue flex hover:text-white"
                                                @click="openItem = '{{ chLink.handle }}'" x-on:mouseenter="openItem = '{{ chLink.handle }}'"
                                                x-bind:class="openItem == '{{ chLink.handle }}' ? 'active bg-blue text-white' : ''"
                                              > 
                                                <span class="text-lg 2xl:text-xl font-semibold text-left"> {{ chLink.title | escape }}</span>
                                              </a>
                                            {% else %}
                                              <a href="{{ chLink.url }}" {% if chLink.current %} aria-current="page"{% endif %} class="navbar-link relative inline-block p-3 2xl:p-5 -left-6 hover:bg-blue hover:text-white"> 
                                                <span class="text-lg 2xl:text-xl font-semibold text-left"> {{ chLink.title | escape }}</span>
                                              </a>
                                            {% endif %}
                                            
                                          </li>
                                        {% endfor %}
                                        <li class="mb-20">
                                            <a href="{{ link.url }}" class="navbar-link relative inline-block p-3 2xl:p-5 -left-6 hover:bg-blue hover:text-white"> 
                                              <span class="text-lg 2xl:text-xl font-semibold text-left btn-all">{{ 'Shop All >' }} </span>
                                            </a>                                          
                                        </li>
                                      </ul>
                                      <ul class="relative min-w-[32rem]">
                                        {% for chLink in link.links %}
                                          <li x-show="openItem == '{{ chLink.handle }}'" x-transition.duration.500ms class="h-full" x-bind:class="openItem != '{{ chLink.handle }}' ? 'h-0' : ''">
                                            {% if chLink.url contains '/collections/' %}
                                              {%- assign cProducts = '' | split: ',' -%}
                                              {% for collection in collections %}
                                                {% if collection.url == chLink.url %}
                                                  {%- assign cProducts = collection.products -%}
                                                {% endif %}
                                              {% endfor %}

                                              <div class="relative inset-0">
                                                {%- liquid assign cols = 1
                                                if cProducts.size > 1
                                                   assign cols = 2  
                                                endif

                                                if cProducts.size > 2
                                                  assign cols = 3
                                                endif -%}
                                                <div class="grid grid-cols-{{ cols }} gap-4 justify-end h-[90%] pb-16 pt-8 xl:pb-16 w-fit 2xl:w-3/4">
                                                  {% for p in cProducts limit: 3 %}
                                                    {%- assign preview_image = p.featured_media.preview_image -%}
                                                    <a href="{{ p.url }}" class="block w-full h-full lg-hidden-child-3 xl:h-[85%] max-h-[200px] xl:max-h-[292px]"> 
                                                      <img class="ml-auto h-full object-contain transition-all duration-300 hover:scale-105" src="{{ preview_image | image_url }}" width="auto" height="auto" loading="lazy" alt="{{ preview_image.alt }}" />
                                                    </a>
                                                  {% endfor %}
                                                </div>
                                              </div>
                                            {% endif %}
                                          </li>
                                        {% endfor %}
                                      </ul>

                                    </div>
                                  </div>
                                </li>
                              {% else %}
                                <li class="text-white ">
                                  <a href="{{ link.url }}" {% if link.current %} aria-current="page"{% endif %} class="block w-max font-medium hover:font-semibold"> 
                                    <span class="uppercase"> {{ link.title | escape }} </span>
                                  </a>
                                </li>
                              {% endif %}

                            {% endfor %}
                        </ul>
                      </div>
                      

                      {%- comment -%} Section logo {%- endcomment -%}
                      {% if request.page_type == 'index' %}
                      <h1 class="h2 site-header__logo m-0 w-full relative z-10">
                      {% else %}
                      <div class="h2 site-header__logo m-0 w-full relative z-10">
                      {% endif %}
                      {% if section.settings.logo %}
                          {%- assign img_url = section.settings.logo | image_url -%}
                          <a href="{{ routes.root_url }}" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered {% endif %} mx-auto transition-all duration-300 max-w-48 sm:max-w-28 lg:max-w-36 xl:max-w-44 2xl:max-w-52 " x-bind:class="open ? 'w-16' : 'w-full sm:w-28 lg:w-36 xl:w-44 2xl:w-52 delay-1000'">
                          {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
                          {% comment %} <img src="{{ img_url }}" 
                              data-src="{{ img_url }}" 
                              data-aspectratio="{{ section.settings.logo.aspect_ratio }}" 
                              class="object-contain logo_desktop"
                              alt="{{ logo_alt | escape }}"
                              style="max-width: {{ section.settings.logo_max_width }}px"
                              > {% endcomment %}
                              <div data-aspectratio="{{ section.settings.logo.aspect_ratio }}" class="block logo_desktop text-white">
                                {% render 'logo' %}
                              </div>
                            {% if section.settings.logo_mobile %}
                              <img src="{{ 'logo_mobile.png' | asset_img_url: 'master' }}" 
                                data-src="{{ 'logo_mobile.png' | asset_img_url: 'master' }}" 
                                data-aspectratio="{{ section.settings.logo.aspect_ratio }}" 
                                class="object-contain  logo_mobile"
                                alt="{{ logo_alt | escape }}"
                                style="max-width: 194px;"
                                >
                            {% endif %}
                          <noscript>
                              {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                              <img src="{{ section.settings.logo | img_url: image_size }}"
                                  srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                                  alt="{{ section.settings.logo.alt | default: shop.name }}"
                                  style="max-width: {{ section.settings.logo_max_width }}px;">
                          </noscript>
                          </a>
                      {% else %}
                          <a class="site-header__logo-link" href="{{ routes.root_url }}">{{ shop.name }}</a>
                      {% endif %}
                      {% if request.page_type == 'index' %}
                      </h1>
                      {% else %}
                      </div>
                      {% endif %}
                      {%- comment -%} End section logo {%- endcomment -%}
                      <div class="account flex items-center shrink-0 w-full justify-end gap-4 lg:gap-6 transition-all duration-500 lg:pt-9" x-bind:class="open ? 'lg:pt-4.5' : 'lg:pt-9 delay-1000'">
                          
                          {% if shop.customer_accounts_enabled %}
                              {% if customer %}
                              <a href="{{ routes.account_url }}" class="site-header__account w-5 h-5 xs:w-6 xs:h-6 md:w-8 md:h-8 font-loto text-[9px] font-bold p-0 flex gap-1 justify-center items-center text-white">
                                  {% render 'icon-account' %}
                              </a>
                              {% else %}
                              <a href="{{ routes.account_login_url }}" class="site-header__account w-5 h-5 xs:w-6 xs:h-6 md:w-8 md:h-8 font-loto text-[9px] font-bold p-0 flex gap-1 justify-center items-center text-white">
                                  {% render 'icon-account' %}
                              </a>
                              {% endif %}
                          {% endif %}
                          <a href="{{ routes.cart_url }}" class="site-header__icon site-header__cart w-5 h-5 xs:w-6 xs:h-6 md:w-8 md:h-8 p-0 flex justify-center items-center text-white">
                              {% include 'icon-cart-gb' %}
                              <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
                              <div id="CartCount" class="site-header__cart-count{% if cart.item_count == 0 %} hide{% endif %}" data-cart-count-bubble>
                              <span data-cart-count>{{ cart.item_count }}</span>
                              <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
                              </div>
                          </a>
                      {% comment %} <div class="bg-bag bg-contain w-4 h-4 xs:w-6 xs:h-6 md:w-8 md:h-8"></div> {% endcomment %}

                      </div>
                  </div>
              </div>
          </div>
          <div class="mobile-menu bg-green absolute top-0 left-0 right-0 z-20" id="MobileNavMenu">
              <div class="absolute inset-0">
                  <div class="lg:bg-left-bottom bg-menu-mark ml-auto bg-no-repeat"></div>
              </div>
              <div class="4xl:container text-white font-bold p-5 xs:p-10 md:p-20 relative z-20 transition-opacity duration-1000 ease-out opacity-0 pt-16 xs:pt-10 md:pt-20">
                  <ul class="text-2xl xs:text-3xl SM:text-4xl md:text-5xl xl:text-7xl pl-6 xs:pl-12 md:pl-24 xl:pl-48">
                      {% for link in linklists[section.settings.main_linklist].links %}
                          {%- assign outerLoopIndex = forloop.index -%}
                          <li class=" pt-6 md:pt-10"><a href="{{ link.url }}" {% if link.current %} aria-current="page"{% endif %} class="pb-4 border-b-4 border-white block w-max hover:text-white"> 
                              <span class=""> {{ link.title | escape }} </span></a>
                          </li>
                      {% endfor %}
                  </ul>
                  <ul class="pl-6 xs:pl-12 md:pl-24 xl:pl-48 text-lg md:text-5xl flex flex-wrap">
                      {% for link in linklists[section.settings.second_linklist].links %}
                          {%- assign outerLoopIndex = forloop.index -%}
                          <li class="mr-8 md:mr-16 mt-6 md:mt-10 "><a href="{{ link.url }}" class="pb-4 border-b-4 border-white block w-max hover:text-white"> <span
                                  class=""> {{ link.title | escape }} </span></a></li>
                      {% endfor %}
                  </ul>
                  <div class="flex mt-16 pl-6 xs:pl-12 md:pl-24 xl:pl-48">
                      <a href="{{ settings['social_instagram_link'] | escape }}" class="w-9 h-9 mr-7 bg-instagram bg-contain"></a>
                      <a href="{{ settings['social_facebook_link'] | escape }}"  class="w-9 h-9 mr-7 bg-facebook bg-contain"></a>
                  </div>
                  <div class="font-medium text-lg md:text-3xl lg:text-4xl xl:text-45 text-right mt-10 lg:mt-20">
                      {{ section.settings.text_menu }}
                  </div>
              </div>
          </div>
      </div>
    </header>
    <svg width="1" height="1">
      <clipPath id="navbar-open" clipPathUnits="objectBoundingBox">
          <path id="Trazado_2605" data-name="Trazado 2605" d="M1575-2903v.826s.044,0,.276,0,.428.187.569.173.155-.066.155-.066V-2903Z" transform="translate(-1575 2903)" fill="#fff7e5"/>
      </clipPath>
    </svg>
    <svg width="1" height="1">
      <clipPath id="navbar-open-tablet" clipPathUnits="objectBoundingBox">
          <path id="Trazado_2750" data-name="Trazado 2750" d="M2209.572-2902.124c.312.017.579.136.773.123s.227-.066.227-.066V-2903h-1Z" transform="translate(-2209.572 2903)" fill="#fff7e5"/>
      </clipPath>
    </svg>
    
</div>



<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": {{ shop.name | json }},
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
  {% endif %}
  "sameAs": [
    {{ settings.social_twitter_link | json }},
    {{ settings.social_facebook_link | json }},
    {{ settings.social_pinterest_link | json }},
    {{ settings.social_instagram_link | json }},
    {{ settings.social_tumblr_link | json }},
    {{ settings.social_snapchat_link | json }},
    {{ settings.social_youtube_link | json }},
    {{ settings.social_vimeo_link | json }}
  ],
  "url": {{ shop.url | append: page.url | json }}
}
</script>

{% if request.page_type == 'index' %}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{% endif %}

{% schema %}
{
  "name": {
    "da": "Overskrift bg",
    "de": "Titel bg",
    "en": "Header bg",
    "es": "Encabezado bg",
    "fi": "Ylätunniste bg",
    "fr": "En-tête bg",
    "hi": "हैडर bg",
    "it": "Header bg",
    "ja": "ヘッダー bg",
    "ko": "머리글 bg",
    "nb": "Header bg",
    "nl": "Koptekst bg",
    "pt-BR": "Cabeçalho bg",
    "pt-PT": "Cabeçalho bg",
    "sv": "Rubrik bg",
    "th": "ส่วนหัว bg",
    "zh-CN": "标头 bg",
    "zh-TW": "標頭 bg"
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "da": "Logobillede",
        "de": "Logo-Foto",
        "en": "Logo image",
        "es": "Logotipo",
        "fi": "Logokuva",
        "fr": "Image du logo",
        "hi": "लोगो इमेज",
        "it": "Immagine del logo",
        "ja": "ロゴ画像",
        "ko": "로고 이미지",
        "nb": "Logobilde",
        "nl": "Afbeelding van logo",
        "pt-BR": "Imagem do logotipo",
        "pt-PT": "Imagem do logótipo",
        "sv": "Logobild",
        "th": "รูปภาพโลโก้",
        "zh-CN": "logo 图片",
        "zh-TW": "標誌圖片"
      }
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": {
        "da": "Tilpasset logobredde",
        "de": "Logobreite",
        "en": "Custom logo width",
        "es": "Ancho del logotipo personalizado",
        "fi": "Mukautetun logon leveys",
        "fr": "Largeur personnalisée du logo",
        "hi": "कस्टम लोगो की चौड़ाई",
        "it": "Larghezza logo personalizzato",
        "ja": "ロゴの幅をカスタマイズする",
        "ko": "사용자 지정 로고 폭",
        "nb": "Tilpasset logobredde",
        "nl": "Aangepaste logo-breedte",
        "pt-BR": "Largura do logotipo personalizado",
        "pt-PT": "Largura de logótipo personalizada",
        "sv": "Anpassad logotypsbredd",
        "th": "ความกว้างของโลโก้แบบกำหนดเอง",
        "zh-CN": "自定义 logo 宽度",
        "zh-TW": "自訂商標寬度"
      },
      "min": 50,
      "max": 580,
      "step": 10,
      "unit": "px",
      "default": 480
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "Logo image mobile"
    },
    {
      "type": "link_list",
      "id": "right_linklist",
      "label": "Right menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": {
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "hi": "मेनू",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "second_linklist",
      "label": {
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "hi": "मेनू",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "default": "main-menu"
    },
    {
      "type": "text",
      "id": "text_menu",
      "label": {
        "da": "Knaptekst",
        "de": "Button-Etikett",
        "en": "Text menu",
        "es": "Texto menu",
        "fi": "Tekstipainike",
        "fr": "Texte du bouton",
        "hi": "बटन लेबल",
        "it": "Etichetta pulsante",
        "ja": "ボタンのラベル",
        "ko": "버튼 레이블",
        "nb": "Knappetikett",
        "nl": "Knoplabel",
        "pt-BR": "Etiqueta de botão",
        "pt-PT": "Etiqueta do botão",
        "sv": "Knappetikett",
        "th": "ป้ายกำกับปุ่ม",
        "zh-CN": "按钮标签",
        "zh-TW": "按鈕標籤"
      }
    },
    {
      "type": "header",
      "content": {
        "da": "Meddelelseslinje",
        "de": "Ankündigungsbereich",
        "en": "Announcement bar",
        "es": "Barra de anuncios",
        "fi": "Ilmoituspalkki",
        "fr": "Barre d'annonces",
        "hi": "घोषणा बार",
        "it": "Barra degli annunci",
        "ja": "告知バー",
        "ko": "공지 표시줄",
        "nb": "Kunngjøringslinje",
        "nl": "Aankondigingsbalk",
        "pt-BR": "Barra de avisos",
        "pt-PT": "Barra de comunicado",
        "sv": "Meddelandefält",
        "th": "แถบประกาศ",
        "zh-CN": "公告栏",
        "zh-TW": "公告列"
      }
    },
    {
      "type": "checkbox",
      "id": "message",
      "label": {
        "da": "Vis meddelelse",
        "de": "Ankündigung anzeigen",
        "en": "Show announcement",
        "es": "Mostrar anuncio",
        "fi": "Näytä ilmoitus",
        "fr": "Afficher l'annonce",
        "hi": "घोषणा डिखाएं",
        "it": "Mostra annuncio",
        "ja": "告知を表示する",
        "ko": "공지 표시",
        "nb": "Vis kunngjøring",
        "nl": "Aankondiging weergeven",
        "pt-BR": "Exibir anúncio",
        "pt-PT": "Mostrar comunicado",
        "sv": "Visa tillkännagivande",
        "th": "แสดงประกาศ",
        "zh-CN": "显示公告",
        "zh-TW": "顯示公告"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": {
        "da": "Kun startside",
        "de": "Nur Startseite",
        "en": "Home page only",
        "es": "Solo página de inicio",
        "fi": "Vain etusivu",
        "fr": "Page d'accueil uniquement",
        "hi": "केवल होमपेज",
        "it": "Solo home page",
        "ja": "ホームページのみ",
        "ko": "홈페이지만",
        "nb": "Kun på startsiden",
        "nl": "Alleen homepage",
        "pt-BR": "Apenas na página inicial",
        "pt-PT": "Apenas a página inicial",
        "sv": "Endast hemsida",
        "th": "หน้าแรกเท่านั้น",
        "zh-CN": "仅主页",
        "zh-TW": "僅限首頁"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "message_text",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": {
        "da": "Meddel noget her",
        "de": "Hier etwas ankündigen",
        "en": "Announce something here",
        "es": "Anuncia algo aquí",
        "fi": "Ilmoita jotakin tässä",
        "fr": "Annoncez quelque chose ici",
        "hi": "यहां कुछ घोषित करें",
        "it": "Annuncia qualcosa qui",
        "ja": "ここで告知してください",
        "ko": "여기에 공지하십시오",
        "nb": "Kunngjør noe her",
        "nl": "Kondig hier iets aan",
        "pt-BR": "Anuncie algo aqui",
        "pt-PT": "Anunciar algo aqui",
        "sv": "Meddela något här",
        "th": "ประกาศข้อความที่นี่",
        "zh-CN": "在此处进行公告",
        "zh-TW": "在此公告資訊"
      }
    },
    {
      "type": "url",
      "id": "message_link",
      "label": {
        "da": "Link",
        "de": "Link",
        "en": "Link",
        "es": "Enlace",
        "fi": "Linkki",
        "fr": "Lien",
        "hi": "लिंक",
        "it": "Link",
        "ja": "リンク",
        "ko": "링크",
        "nb": "Kobling",
        "nl": "Link",
        "pt-BR": "Link",
        "pt-PT": "Ligação",
        "sv": "Länk",
        "th": "ลิงก์",
        "zh-CN": "链接",
        "zh-TW": "連結"
      },
      "info": {
        "da": "Valgfri",
        "de": "Optional",
        "en": "Optional",
        "es": "Opcional",
        "fi": "Valinnainen",
        "fr": "Facultatif",
        "hi": "वैकल्पिक",
        "it": "Facoltativo",
        "ja": "オプション",
        "ko": "선택 사항",
        "nb": "Valgfritt",
        "nl": "Optioneel",
        "pt-BR": "Opcional",
        "pt-PT": "Opcional",
        "sv": "Valfritt",
        "th": "ไม่จำเป็น",
        "zh-CN": "可选",
        "zh-TW": "(選填)"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "da": "Bjælke",
        "de": "Zeile",
        "en": "Bar",
        "es": "Barra",
        "fi": "Palkki",
        "fr": "Barre",
        "hi": "बार",
        "it": "Barra",
        "ja": "バー",
        "ko": "바",
        "nb": "Felt",
        "nl": "Balk",
        "pt-BR": "Barra",
        "pt-PT": "Barra",
        "sv": "Fält",
        "th": "แถบ",
        "zh-CN": "栏",
        "zh-TW": "橫條"
      },
      "default": "#3a3a3a"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
