<style>
  .section-message-{{ section.id }} p, .section-message-{{ section.id }} strong, .section-message-{{ section.id }} a, .section-message-{{ section.id }} div, .section-message-{{ section.id }} .message span, .section-message-{{ section.id }}{
    color: {{ section.settings.color_text }}
  }
  .section-message-{{ section.id }} p{
      display: inline;
  }
  .section-message-{{ section.id }} .text-right svg{
      margin-left: auto;
  }
  .section-message-{{ section.id }} .relative svg{
      position: absolute;
      right: 0;
  }
</style>
<section class="4xl:container {% if section.settings.image %} px-10 md:px-20 {% else %} p-8 md:py-11 md:px-16 lg:px-24 xl:pl-44 xl:pr-72 {% endif %} section-message-{{ section.id }} mb-14 xl:mb-24" >
    <div class="grid items-center {% if section.settings.image %} lg:grid-cols-04-06 gap-18 {% endif %}">
      {% if section.settings.image %}
        <picture>
          <img class="max-h-[90%]" src="{{ section.settings.image | image_url }}" loagind="lazy" />
        </picture>
      {% endif %}
      <div class="{% if section.settings.image %} pr-12 lg:pr-24 {% else %} pr-12 lg:pr-24 3xl:pr-64 {% endif %} text-2xl md:text-3xl xl:text-4xl flex message text-green">
          <span class="pr-2">“</span>
          <div class="font-baskerville">
              {{ section.settings.message }}
              <span class="inline-block rotate-180">“</span>
              <div class="mt-6 xl:mt-9">
                  <div class="font-bold text-leg xl:text-2xl font-loto">{{ section.settings.text | escape }}</div>
                  <div class="text-xs font-loto font-light">{{ section.settings.textsmall | escape }}</div>
              </div>
          </div>
      </div>    
    </div>

    <a class="block btn-shop btn-shop-blue mt-16 text-white mx-auto pr-5" href="{{ section.settings.button_link }}">
      <span class="pr-8">{{ section.settings.button_label | escape }}</span>
    </a>    
    {% comment %} <div class="text-right">
        {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
        <a href="{{ section.settings.button_link }}" class="relative flex justify-end items-end h-20">
            {%- include 'icon-arrow-black' -%}
            <span class="text-xs text-black font-bold">{{ section.settings.button_label | escape }}</span>
        </a>
        {%- else if section.settings.button_label != blank -%}
        <div class="relative flex justify-end items-end h-20">
            {%- include 'icon-arrow-black' -%}
            <span class="text-xs text-black font-bold">{{ section.settings.button_label | escape }}</span>
        </div>
        {%- endif -%}
    </div> {% endcomment %}
</section>

{% schema %}
{
  "name": {
    "en": "Message",
    "es": "Mensaje"
  },
  "class": "index-section index-section--flush",
  "settings": [
    {
      "type" : "image_picker",
      "id" : "image",
      "label" : "Image"
    },
    {
      "type": "richtext",
      "id": "message",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Message",
        "es": "Mensaje",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": {
        "da": "<p>Brug tekstoverlejring til at give dine kunder indblik i dit brand. Vælg billeder og tekst, der passer til din stil og historie.</p>",
        "de": "<p>Nutzen Sie überlegten Text, um Kunden über Ihre Marke zu informieren. Wählen Sie Fotos und Text aus, die zu Ihrer Marke passen.</p>",
        "en": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>",
        "es": "<p>Usa el texto superpuesto para darles información útil a tus clientes sobre tu marca. Selecciona imágenes y textos que se relacionen con tu estilo e historia.</p>",
        "fi": "<p>Käytä taustan päällä olevaa tekstiä, jotta asiakkaat voivat tutustua tuotemerkkisi. Valitse tyylisi ja tarinasi liittyvät kuvat ja teksti.</p>",
        "fr": "<p>Utilisez la superposition de texte pour donner un aperçu de votre marque à vos clients. Utilisez une image et du texte qui se rapportent au style et à l'histoire de votre marque.</p>",
        "hi": "<p>अपने ब्रांड में अपने ग्राहकों को जानकारी देने के लिए ओवरले टेक्स्ट का उपयोग करें. अपनी स्टाइल और कहानी से संबंधित कल्पना और पाठ का चयन करें.</p>",
        "it": "<p>Utilizza il testo in sovrapposizione per dare ai clienti informazioni sul tuo brand. Seleziona immagini e testo legati al tuo stile e alla tua storia.</p>",
        "ja": "<p>オーバーレイテキストを使用して、お客様があなたのブランドについてよく理解できるようにします。あなたのスタイルやストーリーに関連する画像やテキストを選択してください。</p>",
        "ko": "<p>오버레이 텍스트를 사용하여 고객에게 브랜드에 대한 통찰력을 부여하십시오. 자신의 스타일과 이야기와 관련된 이미지와 텍스트를 선택하십시오.</p>",
        "nb": "<p>Bruk overleggstekst til å gi kundene dine innsikt i merkevaren din. Velg bildebruk og tekst som er relatert til din stil og historie.</p>",
        "nl": "<p>Gebruik overlay-tekst om uw klanten inzicht te geven in uw merk. Selecteer afbeeldingen en tekst die betrekking hebben op uw stijl en verhaal.</p>",
        "pt-BR": "<p>Use o texto de sobreposição para apresentar insights sobre sua marca aos clientes. Selecione imagens e textos que reflitam seu estilo e sua história.</p>",
        "pt-PT": "<p>Utilize o texto de sobreposição para fornecer informações sobre a sua marca aos clientes. Selecione imagens e textos que reflitam o seu estilo e a sua história.</p>",
        "sv": "<p>Använd överläggningstext för att ge dina kunder inblick i ditt varumärke. Välj bildspråk och text som gäller din stil och historia.</p>",
        "th": "<p>ใช้ข้อความซ้อนทับเพื่อให้ลูกค้าของคุณทราบถึงรายละเอียดเกี่ยวกับแบรนด์ เลือกรูปภาพและข้อความที่มีความเกี่ยวข้องกับสไตล์กับเรื่องราวของคุณ</p>",
        "zh-CN": "<p>使用叠加文本让客户深入了解您的品牌。选择与您的风格和故事相关的图片和文本。</p>",
        "zh-TW": "<p>運用文字疊加讓顧客更加瞭解您的品牌。選擇與您風格和品牌故事相關的圖像和文字。</p>"
      }
    },
    {
        "type": "text",
        "id": "text",
        "label": {
            "da": "Knaptekst",
            "de": "Button-Etikett",
            "en": "Text",
            "es": "Texto",
            "fi": "Tekstipainike",
            "fr": "Texte du bouton",
            "hi": "बटन लेबल",
            "it": "Etichetta pulsante",
            "ja": "ボタンのラベル",
            "ko": "버튼 레이블",
            "nb": "Knappetikett",
            "nl": "Knoplabel",
            "pt-BR": "Etiqueta de botão",
            "pt-PT": "Etiqueta do botão",
            "sv": "Knappetikett",
            "th": "ป้ายกำกับปุ่ม",
            "zh-CN": "按钮标签",
            "zh-TW": "按鈕標籤"
        }
    },
    {
        "type": "text",
        "id": "textsmall",
        "label": {
            "da": "Knaptekst",
            "de": "Button-Etikett",
            "en": "Text",
            "es": "Texto",
            "fi": "Tekstipainike",
            "fr": "Texte du bouton",
            "hi": "बटन लेबल",
            "it": "Etichetta pulsante",
            "ja": "ボタンのラベル",
            "ko": "버튼 레이블",
            "nb": "Knappetikett",
            "nl": "Knoplabel",
            "pt-BR": "Etiqueta de botão",
            "pt-PT": "Etiqueta do botão",
            "sv": "Knappetikett",
            "th": "ป้ายกำกับปุ่ม",
            "zh-CN": "按钮标签",
            "zh-TW": "按鈕標籤"
        }
    },
    {
        "type": "text",
        "id": "button_label",
        "label": {
            "da": "Knaptekst",
            "de": "Button-Etikett",
            "en": "Button label",
            "es": "Etiqueta del boton",
            "fi": "Tekstipainike",
            "fr": "Texte du bouton",
            "hi": "बटन लेबल",
            "it": "Etichetta pulsante",
            "ja": "ボタンのラベル",
            "ko": "버튼 레이블",
            "nb": "Knappetikett",
            "nl": "Knoplabel",
            "pt-BR": "Etiqueta de botão",
            "pt-PT": "Etiqueta do botão",
            "sv": "Knappetikett",
            "th": "ป้ายกำกับปุ่ม",
            "zh-CN": "按钮标签",
            "zh-TW": "按鈕標籤"
        }
    },
    {
        "type": "url",
        "id": "button_link",
        "label": {
            "da": "Knaplink",
            "de": "Button-Etikett",
            "en": "Button link",
            "es": "Enlace de botón",
            "fi": "Painikelinkki",
            "fr": "Lien du bouton",
            "hi": "बटन लिंक",
            "it": "Link pulsante",
            "ja": "ボタンのリンク",
            "ko": "버튼 링크",
            "nb": "Kobling for knapp",
            "nl": "Knoplink",
            "pt-BR": "Link de botão",
            "pt-PT": "Ligação do botão",
            "sv": "Knapplänk",
            "th": "ลิงก์ปุ่ม",
            "zh-CN": "按钮链接",
            "zh-TW": "按鈕連結"
        }
    },
    {
      "type": "color",
      "id": "color_text",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Billede med tekstoverlejring",
        "de": "Foto mit überlegtem Text",
        "en": "Message",
        "es": "Mensaje",
        "fi": "Kuva päällä olevalla tekstillä",
        "fr": "Image avec calque texte",
        "hi": "पाठ ओवरले के साथ इमेज",
        "it": "Immagine con testo",
        "ja": "テキストオーバーレイ付き画像",
        "ko": "텍스트 오버레이 포함 이미지",
        "nb": "Bilde med tekstoverlegg",
        "nl": "Foto met tekstoverlay",
        "pt-BR": "Imagem com sobreposição de texto",
        "pt-PT": "Imagem com sobreposição de texto",
        "sv": "Bild med textöverlagring",
        "th": "การวางซ้อนรูปภาพพร้อมข้อความ",
        "zh-CN": "带文本叠加的图片",
        "zh-TW": "附文字疊加的圖片"
      },
      "category": {
        "da": "Billede",
        "de": "Foto",
        "en": "Text",
        "es": "Texto",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    }
  ]
}
{% endschema %}