<style>
  .pop-up-form{
      z-index: 999999999;
  }

  .pop-up-form__bg{
      background-image: url("{{ section.settings.bg_image | image_url: width: auto }}");
  }

  .hilight-text em{
      color: #40914D;
      font-style: normal;
  }

  .hilight-text strong{
      background: white;
      padding: 0 0.75rem;
  }

  .hilight-text em strong{
      padding-right: 0;
  }

  .pop-up-form .richtext a{
      text-decoration: underline;
  }

  .pop-up-form__diclaimer {
      margin-left: initial;

  }

  @media screen and (min-width: 641px) and (max-width: 1023px) {
      .pop-up-form__content{
          width: 75%;
          margin: auto;
      }
  }

  @media screen and (max-width: 640px) {
      .pop-up-form__content{
          width: 80%;
          margin: auto;
      }
  }

  @media screen and (max-width: 467px) {
      .pop-up-form__content, .pop-up-form__diclaimer{
          width: 100%;
          /* margin: auto; */
      }
      .pop-up-form__bg{
          background-image: url("{{ section.settings.bg_image_mobile | image_url: width: auto }}");
      }
  }

  @media screen and (max-width: 1023px) and (orientation: landscape) {
      .pop-up-form__diclaimer {
          position: relative;
          margin-top: 24px;
          padding-bottom: 3rem
      }
      .pop-up-form__content{
          width: 60%;
      }

      .pop-up-form__content{
          padding-top: 3rem
      }

      .pop-up-form__bg{
          background-image: url("{{ section.settings.bg_image | image_url: width: auto }}");
          height: 100%;
      }
      .pop-up-form__diclaimer {
          background-image: none;
          color: rgba(255, 255, 255, 1);
      }
      #pop-up-form__content{
          margin-top: 60px
      }
  }
</style>

<section id="pop-up-form" class="{% if section.settings.show_popup %} block {% else %} hidden opacity-0 {% endif %}">
  <div class="pop-up-form fixed inset-0 w-full h-full flex justify-center items-center lg:overflow-auto lg:p-12">
    <div onClick="closePop()" class="absolute inset-0 w-full h-full  cursor-pointer bg-black/50 lg:min-h-[820px] min-h-bg_close_popup"></div>
    <div class="w-full md:mx-8 h-full md:h-[80%] overflow-auto m-auto relative flex justify-center items-center lg:min-h-[820px]">
      <div class="pop-up-form__bg absolute inset-0 w-full bg-no-repeat bg-top bg-cover h-full md:rounded-25">
        <div class="absolute inset-0 w-full h-full bg-black/50 md:rounded-25"></div>
      </div>
      <div class="pop-up-form__container relative w-full h-full flex flex-col justify-center items-center overflow-auto max-h-full md:rounded-25">
        <div
          id="pop-up-form__content"
          class="pop-up-form__content {% if section.settings.show_success %} hidden {% else %} block lg:grid {% endif %} lg:grid-cols-2 mx-auto px-8 pb-8 pt-6 md:p-8 min-h-124 md:min-h-72 opacity-100"
        >
          <div>
            <h3 class="font-loto text-white font-black text-22 xs:text-2xl md:text-3xl xl:text-10">
              {{ section.settings.title }}
            </h3>
            <div class="font-loto font-bold text-lg xs:text-xl md:text-2xl xl:text-4xl hilight-text text-blue richtext mt-2 md:mt-3">
              {{ section.settings.hilight_title }}
            </div>
            {% unless section.settings.description == blank %}
              <div class="font-loto mt-8 text-base xl:text-lg text-white font-text richtext hidden lg:block">
                {{ section.settings.description }}
              </div>
            {% endunless %}
          </div>
          <div class="text-xl lg:text-2xl mt-8 ms:mt-20 lg:mt-0">
            <div class="lg:w-3/4 ml-auto ">
              <div style="margin:0 auto;" class="pxFormGenerator" id="aRwqoZ11SZ9Ln7Ut5sormA"></div>
              <div>
                <button
                  onClick="closePop()"
                  class="text-white font-loto font-semibold pb-1 border-b border-white no-underline text-xs"
                >
                  {{ section.settings.link_text }}
                </button>
              </div>
              <div class="pop-up-form__diclaimer bottom-0 right-0 left-0 place-items-center text-xs text-blue/50 xs:text-white mt-12 richtext hidden xs:grid w-full">
                {{ section.settings.disclaimer }}
              </div>
            </div>
          </div>
        </div>
        <div
          id="pop-up-form__message"
          class="pop-up-form__message mx-auto px-8 pb-8 md:p-8 min-h-124 md:min-h-72 {% if section.settings.show_success %} block {% else %} hidden opacity-0 {% endif %} "
        >
          <h3 class="font-loto text-white font-black text-22 xs:text-2xl md:text-3xl xl:text-10">
            {{ section.settings.title_success }}
          </h3>
          {% unless section.settings.hilight_title_success == blank %}
            <div class="font-loto font-bold text-lg xs:text-xl md:text-2xl xl:text-4xl hilight-text text-blue richtext mt-2 md:mt-3">
              {{ section.settings.hilight_title_success }}
            </div>
          {% endunless %}
          <div class="mt-6 text-white text-base lg:text-22 xl:text-28 with-code">{{ section.settings.code_text }}</div>
          <div class="mt-14">
            <a class="block btn-start" href="{{ section.settings.link_url_success }}">
              <span>{{ section.settings.text_url_success }}</span>
            </a>
          </div>
        </div>
        <div class="pop-up-form__diclaimer bottom-0 right-0 left-0 grid place-items-center text-[8px] text-blue/50 xs:text-white/50 mt-16 richtext xs:hidden px-8 pb-8 pt-24">
          {{ section.settings.disclaimer }}
        </div>
        <button
          onClick="closePop()"
          class="absolute top-12 right-8 xl:top-16 xl:right-16 2xl:top-24 2xl:right-24 pop-up-form__btn-close w-6 h-6 lg:w-10 lg:h-10 cursor-pointer"
        ></button>
      </div>
    </div>
  </div>

  <script>
    function getC(t) {
      var name = t + '=';
      var ca = document.cookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return '';
    }

    function setC(t, v) {
      var d = new Date();
      d.setHours(d.getHours() + 24);
      var expires = 'expires=' + d.toUTCString();
      document.cookie = t + '=' + v + ';' + expires + ';path=/';
    }

    function showSuccessMessage() {
      setC('ready-show-contact-form', true);
      var content = document.getElementById('pop-up-form__content');
      content.classList.add('hide-content');
      setTimeout(function () {
        content.classList.remove('grid');
        content.classList.remove('lg:grid');
        content.classList.add('hidden');
        var message = document.getElementById('pop-up-form__message');
        message.classList.add('show-message');
      }, 1000);
    }

    function closePop() {
      setC('ready-show-contact-form', true);
      var content = document.getElementById('pop-up-form');
      content.classList.remove('show-content');
      content.classList.add('hide-content');
      setTimeout(function () {
        content.classList.add('hidden');
      }, 1000);
    }

    function openPop() {
      var content = document.getElementById('pop-up-form');
      console.log(content)
      content.classList.remove('hidden');
      content.classList.add('show-content');
    }

    window.addEventListener('message', handleMessage, false);

    function handleMessage(event) {
      if (event.origin !== 'https://formbuilder.hulkapps.com') {
        return;
      }
      switch (event.data) {
        case 'HELLO_PARENT':
          showSuccessMessage();
          break;
      }
    }

    setTimeout(() => {
      getC('ready-show-contact-form') == '' && openPop();
    }, 1000);

    

  </script>
</section>

{% schema %}
{
  "name": "PopUp Form",
  "settings": [
    {
      "type": "header",
      "content": "Form"
    },
    {
      "type": "checkbox",
      "id": "show_popup",
      "label": "Show PopUp Form"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image Mobile"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "hilight_title",
      "label": "Hilight Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "richtext",
      "id": "disclaimer",
      "label": "Disclaimer"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Continue Button Text"
    },
    {
      "type": "header",
      "content": "Success Message"
    },
    {
      "type": "checkbox",
      "id": "show_success",
      "label": "Show Success Message"
    },
    {
      "type": "text",
      "id": "title_success",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "hilight_title_success",
      "label": "Hilight Title"
    },
    {
      "type": "richtext",
      "id": "code_text",
      "label": "Code Text"
    },
    {
      "type": "text",
      "id": "text_url_success",
      "label": "Start Button Text"
    },
    {
      "type": "url",
      "id": "link_url_success",
      "label": "Start Button Link"
    }
  ]
}
{% endschema %}
