{% comment %}
    Renders a list of products from a collection

    Accepts:
    - article: {Object} Article Liquid object (required)
    - class: {String} 

    Usage:
    {% include 'article-post-blog', article: article, class : 'class' %}
{% endcomment %}

{%- assign img_url = article.image | img_url: 'master' -%}

<div class="relative rounded-[18px] overflow-hidden text-white {{ grid_class }}">
    <div
      class="absolute inset-0 bg-center bg-no-repeat bg-cover bg-blue-2"
      style="background-image: url({{ img_url }})"
    ></div>
    <div class="relative flex justify-start flex-col h-full px-8 {{ class }}">
      <div class="relative">
        <span class="text-xs p-1 tracking-widest font-bold" style="background-color: {{ article.metafields.post.color_top_tag }}; color: {{ article.metafields.post.text_color_top_tag }}"> {{ article.metafields.post.top_tag }} </span>
      </div>
      <h3 class="font-bold text-2xl lg:text-lg xl:text-2xl {{ title_class }}">{{ article.title }}</h3>
      
      <div class="relative flex items-center gap-6 mt-6 text-xs font-semibold">
        <a href="{{ article.url }}">
          READ MORE
          <div class="border-b-4 border-white"></div>
        </a>
        <div class="flex items-center gap-2">
          {% render 'icon-time' %}
          <span>{{ article.metafields.custom.time }} MIN</span>
        </div>
      </div>
    </div>
  </div>
