<style>
  .grid-cta-section-{{ section.id }} .section-left-cta .title p, .grid-cta-section-{{ section.id }} .section-left-cta .title strong, .grid-cta-section-{{ section.id }} .section-left-cta .title a, .grid-cta-section-{{ section.id }} .section-left-cta .title div, .grid-cta-section-{{ section.id }} .section-left-cta .title span, .grid-cta-section-{{ section.id }} .section-left-cta .button-label span{
    color: {{ section.settings.color_text }}
  }
  .grid-cta-section-{{ section.id }} .section-left-cta .subtitle p, .grid-cta-section-{{ section.id }} .section-left-cta .subtitle strong, .grid-cta-section-{{ section.id }} .section-left-cta .subtitle a, .grid-cta-section-{{ section.id }} .section-left-cta .subtitle div, .grid-cta-section-{{ section.id }} .section-left-cta .subtitle span, .grid-cta-section-{{ section.id }} .section-left-cta .button-label span{
    color: {{ section.settings.color_subtitle }}
  }
  .grid-cta-section-{{ section.id }} .section-right-cta p, .grid-cta-section-{{ section.id }} .section-right-cta strong, .grid-cta-section-{{ section.id }} .section-right-cta a, .grid-cta-section-{{ section.id }} .section-right-cta div, .grid-cta-section-{{ section.id }} .section-right-cta span{
    color: {{ section.settings.color_text_right }}
  }
</style>
  {% assign text_align = section.settings.text_align %} 
  {% case text_align %}
    {% when 'center' %}
      {% assign text_align = 'items-center' %} 
    {% when 'right' %}
      {% assign text_align = 'items-end' %} 
    {% else %}
      {% assign text_align = 'items-start' %} 
  {% endcase %}

  {% assign text_align_right = section.settings.text_align_right %} 
  {% case text_align_right %}
    {% when 'center' %}
      {% assign text_align_right = 'items-center' %} 
    {% when 'right' %}
      {% assign text_align_right = 'items-end' %} 
    {% else %}
      {% assign text_align_right = 'items-start' %} 
  {% endcase %}
  <section data-section-id="{{ section.id }}" data-section-type="grid-cta-section" class="grid-cta-section-{{ section.id }} 3xl:container">
      <div class="grid lg:grid-cols-cta">
          <div class="{{ section.settings.hero_size }} relative">
              <div class="bg-cover bg-no-repeat w-full h-full absolute inset-0" style="background-image: url({{ section.settings.image | image_url: width: auto }});"></div>
              <div class="w-full h-full absolute inset-0 bg-opacity-30 bg-black"></div>
              
              {%- if section.settings.button_link != blank -%}
              <a href="{{ section.settings.button_link }}" class="relative flex w-full h-full flex-col p-10 md:p-20 section-left-cta {{ text_align }} {{ section.settings.text_vertical_align }}">
              {%- else -%}
              <div class="relative flex w-full h-full flex-col p-10 md:p-20 section-left-cta {{ text_align }} {{ section.settings.text_vertical_align }}">
              {%- endif -%}
                  {%- if section.settings.text != blank -%}
                    <div class="font-bold leading-10 title {{ section.settings.text_size }}" style=" text-align: {{ section.settings.text_align }};">
                        {{ section.settings.text }}
                    </div>
                  {%- endif -%}
                  {%- if section.settings.sub_text != blank -%}
                    <div class="font-bold leading-6 lg:leading-10 mt-4 subtitle {{ section.settings.subtitle_size }}" style=" text-align: {{ section.settings.text_align }};">
                        {{ section.settings.sub_text }}
                    </div>
                  {%- endif -%}

                  <div class="pt-7 button-label">
                      {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
                        <div class="border-b-4 border-white pb-4 text-2xl">
                          <span>{{ section.settings.button_label | escape }}</span>
                        </div>
                      {%- else if section.settings.button_label != blank -%}
                        <div class="border-b-4 border-white pb-4 text-2xl w-max font-bold">
                          <span>{{ section.settings.button_label | escape }}</span>
                        </div>
                      {%- endif -%}
                  </div>
              {%- if section.settings.button_link != blank -%}
                </a>
              {%- else -%}
                </div>
              {%- endif -%}
              
          </div>
          <div class="pl-1 hidden lg:block section-right-cta">
              <div class="bg-cover bg-no-repeat bg-center w-full h-full p-10 " style="background-image: url({{ section.settings.image_right | image_url: width: auto }}); color: white">
                  {%- if section.settings.button_link_right != blank -%}
                  <a href="{{ section.settings.button_link_right }}" class="flex flex-col {{ section.settings.text_vertical_align_right }} w-full h-full">
                  {%- else -%}
                  <div class="flex flex-col w-full h-full {{ text_align_right }} {{ section.settings.text_vertical_align_right }}">
                  {%- endif -%}
                      {%- if section.settings.text_right != blank -%}
                        <span class="{{ section.settings.text_size_right }}">
                            {{ section.settings.text_right }}
                        </span>
                      {%- endif -%}
                      {%- if section.settings.sub_text_right != blank -%}
                        <div class="leading-10 mt-4 subtitle {{ section.settings.subtitle_size_right }}" style=" text-align: {{ section.settings.text_align_right }};">
                            {{ section.settings.sub_text_right }}
                        </div>
                      {%- endif -%}
                      {%- if section.settings.button_label_right != blank -%}
                        <span class="text-lg font-medium">
                            {{ section.settings.button_label_right }}
                        </span>
                      {%- endif -%}
                      <div class="w-full flex {{ section.settings.button_align_right }}">
                        {% include 'icon-arrow' %} 
                      </div>
                  {%- if section.settings.button_link_right != blank -%}
                  </a>
                  {%- else -%}
                  </div>
                  {%- endif -%}
              </div>
          </div>
      </div>
  </section>