<div class="w-full px-10 lg:px-20 2xl:px-35 pb-9 grid lg:grid-cols-2 xl:grid-cols-3 gap-13 product__blog">
  {% assign blogs_handle = 'recipes,posts,news' | split: ',' %}

  {% for post in product.metafields.blog_section.posts.value limit : 3 %}
    <div class="product__blog-item relative rounded-[20px] overflow-hidden bg-blue {% if forloop.last %} lg:odd:col-span-2 xl:odd:col-span-1 {% endif %} ">
      {% if post.background_image %}
        <img
          class="absolute inset-0 w-full h-full object-cover"
          src="{{ post.background_image | img_url: '900x900' }}"
          alt=""
          width="auto"
          height="auto"
          loading="lazy"
        >
      {% endif %}
      <div class="relative p-9 flex flex-col justify-between gap-40 bg-blue/[0.45] h-full ">
        <span class="text-sm relative block w-fit">
          <span
            class="product__blog-tag w-full absolute top-0 bottom-0 left-[10%]  mx-auto scale-y-150"
            style="background-color: {{ post.tag_bg_color }}"
          ></span>
          <span class="relative text-white tracking-[0.2em] ">{{ post.tag }}</span>
        </span>
        <div class="overflow-hidden">
          <div class="text-white">
            <h3 class="font-extrabold font-loto text-lg 2xl:text-22 relative md:max-w-[24ch] ">
              {{- post.title | strip_newlines -}}
            </h3>

            {% if post.description != blank %}
              <div class="relative text-blue product__blog--rt md:max-w-[35ch] ">
                <div class="relative text-xs">{{ post.description | metafield_tag }}</div>
              </div>
            {% endif %}
          </div>
          {% if post.bottom_mini_image %}
            <div>
              <img
                class="relative w-auto h-11 object-contain mt-2"
                src="{{ post.bottom_mini_image | img_url: '300x300' }}"
                alt=""
                width="auto"
                height="auto"
                loading="lazy"
              >
            </div>
          {% endif %}
          {%-liquid 
           assign text_link = 'READ MORE'
           unless post.link_text == blank
            assign text_link = post.link_text
           endunless
          -%}

          <a href="{{ post.link_url }}" {% if post.link_target_blank %} target="_blank" rel="noopener" {% endif %} class="mt-5 inline-block"
            ><span class="uppercase font-loto font-semibold text-[10px] text-white tracking-[0.2em]"
            >{{ text_link }}</span
            ></a
          >
        </div>
      </div>
    </div>
  {% endfor %}


  {% for handle in blogs_handle %}
    {%- assign blog = blogs[handle] -%}

    {% for article in blog.articles %}
      {% assign exist = false %}
      {% for pp in article.metafields.product_blog_section.products.value %}
        {% if pp.handle == product.handle %}
          {% assign exist = true %}
        {% endif %}
      {% endfor %}

      {% if exist == false %}
        {% continue %}
      {% endif %}

      {% assign image = article.image %}
      {% if image == blank %}
        {% assign image = article.blog.featured_image %}
      {% endif %}

      
    {% endfor %}
  {% endfor %}
</div>
